{{#if message}}
    <h6
        {{#if message.success}}
        class="success"
        {{else}}
        class="error"
        {{/if}}
    >{{message.text}}</h6>
{{/if}}

{{#if errors}}
    <h6 class="error">
        {{#each errors}}
            <ul>
                <li>{{this.msg}}</li>
            </ul>
        {{/each}}
    </h6>
{{/if}}

<form action="/author/add" method="post" class="row">

    <div class="form-group col-md-12">
        <label for="title">نام کاربری</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="">
    </div>

    <div class="form-group col-md-12">
        <label for="title">رمز عبور</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">افزودن</button>
</form>
