{{#if message}}
    <h1
        {{#if message.success}}
        class="success"
        {{else}}
        class="error"
        {{/if}}
    >{{message.text}}</h1>
{{/if}}

{{#if errors}}
    <h6 class="error">
        {{#each errors}}
            <ul>
                <li>{{this.msg}}</li>
            </ul>
        {{/each}}
    </h6>
{{/if}}

<form action="/author/edit" method="post" class="row">

    <div class="form-group col-md-12">
        <label for="title">نام کاربری</label>
        <input type="text" class="form-control" id="username" name="username" value="{{author.username}}" placeholder="">
    </div>

    <div class="form-group col-md-12">
        <label for="title">رمز عبور</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" value="" placeholder="رمز عبور جدید">
    </div>

    <input type="hidden"  id="id" name="id" value="{{author.id}}">
    <input type="hidden"  id="password" name="password" value="{{author.password}}">

    <button type="submit" class="btn btn-primary">ویرایش</button>
</form>
