<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/main.css">
    <style>
        body {
            background: rgb(238, 238, 238);
        }

        .success, .error {
            font-size: 16px;
            text-align: center;
            padding: 10px;
        }

        .error {
            color: rgb(254, 73, 92);
        }

        .success {
            color: green;

        }
    </style>
</head>
<body>
<main>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-4 enter bg-custom-light shadow-lg"
                 style="margin: auto;position: absolute;top:0;left:0;bottom:0;right:0;padding: 20px;border-radius: 6px;height: 300px;">
                {{#if message}}
                    <h1
                        {{#if message.success}}
                        class="success"
                        {{else}}
                        class="error"
                        {{/if}}
                    >{{message.text}}</h1>
                    {{/if}}
                    {{#if success_msg}}
                        <h1 class="success">{{success_msg}}</h1>
                    {{/if}}

                    {{#if error_msg}}
                        <h1 class="error">{{error_msg}}</h1>
                    {{/if}}

                    {{#if error}}
                        <h1 class="error">{{error}}</h1>
                    {{/if}}

                    {{#if errors}}
                        <h6 class="error">
                            {{#each errors}}
                                <ul>
                                    <li>{{this.msg}}</li>
                                </ul>
                            {{/each}}
                        </h6>
                    {{/if}}

                <form action="/login" method="post" class="row">

                    <div class="form-group col-md-12">
                        <label for="title">نام کاربری</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="order">رمز عبور</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="">
                    </div>


                    <div class="form-group form-check col-md-12 text-center">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">مرا بخاطر بسپار</label>
                    </div>
                    <div class="form-group form-check col-md-12 text-center">
                        <button type="submit" class="btn btn-lg btn-primary">ورود</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>

    </div> <!-- /container -->


</main>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
    $(".custom-line").eq($(".custom-line").length - 1).hide();
</script>
</body>
</html>
