{{#if message}}
    <h1
        {{#if message.success}}
        class="success"
        {{else}}
        class="error"
        {{/if}}
    >{{message.text}}</h1>
{{/if}}

<form action="/category/add" method="post" class="row">

    <div class="form-group col-md-12">
        <label for="title">عنوان</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">افزودن</button>
</form>
