{{#if message}}
    <h1
        {{#if message.success}}
        class="success"
        {{else}}
        class="error"
        {{/if}}
    >{{message.text}}</h1>
{{/if}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">عنوان</th>
        <th scope="col">عملیات</th>
    </tr>
    </thead>
    <tbody>
    {{#each categories}}
        <tr id="row{{id}}">
            <td>{{title}}</td>
            <td>
                <button data-id="{{id}}" data-toggle="modal" data-target="#exampleModal"
                        class="btn btn-danger btn-delete">حذف
                </button>
                <a href="../Category/Edit/{{id}}" class="btn btn-info">ویرایش</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                آیا اطمینان به حذف این سطر دارید ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" id="btn-confirm">بله</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-sm" id="tinyModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>

<script>
    $(".btn-delete").on("click", function () {
        $("#btn-confirm").attr("data-id", $(this).attr("data-id"));
    })


    $("#btn-confirm").on("click", function () {
        $('#exampleModal').modal('hide');
        let id = $(this).attr("data-id");
        $.ajax({
            method: "GET",
            url: "/category/delete/" + id,
            success: function (res) {
                console.log("Success : ", res);

                $("#tinyModal").find(".modal-content .modal-title").text((res.success) ? "موفقیت" : "خطا");
                $("#tinyModal").find(".modal-content .modal-body p").text(res.text);
                $("#tinyModal").modal("show");
                $("#row" + id).fadeOut();

            }, error: function (err) {
                $("#tinyModal").find(".modal-content .modal-title").text("خطا در ارتباط با سرور");
                $("#tinyModal").find(".modal-content .modal-body p").text(err.message);
                $("#tinyModal").modal("show");
            }
        })
    })
</script>